# ~/.envrc
# === Direnv Environment Variables ===

# GitHub Personal Access Token (ใช้เฉพาะ local dev เท่านั้น)
export GITHUB_PAT="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"

# Project GitHub Repository URL
export PROJECT_REPO="https://github.com/myub217/projects"

# ติดต่อเจ้าของโปรเจกต์
export CONTACT_EMAIL="myub25217@gmail.com"

# URL สำหรับ Production หรือ Deploy แล้ว
export DEPLOYMENT_URL="https://applicationlubmobile.vercel.app/"

# ตัวแปรทดสอบ Direnv
export TEST_VAR="hello_direnv"

# === User credentials (ใช้สำหรับ internal dev tools / mock auth) ===
export USER_admin2517="myub2517"
export USER_JPKYETONKEY201="CODSLOUVPJ301"
export USER_JPKYETONKEY222="CODSLOUVPJ337"
export USER_JPKYETONKEY233="CODSLOUVPJ379"
export USER_JPKYETONKEY244="CODSLOUVPJ305"
export USER_JPKYETONKEY255="CODSLOUVPJ398"
export USER_JPKYETONKEY266="CODSLOUVPJ320"
export USER_JPKYETONKEY277="CODSLOUVPJ341"
export USER_JPKYETONKEY288="CODSLOUVPJ359"
export USER_JPKYETONKEY299="CODSLOUVPJ407"
export USER_JPKYETONKEY300="CODSLOUVPJ399"
export USER_JPusertest01="Peudhdo5"